.cardContainer {
  background-color: blue;
  /*margin: 20px;*/
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.4);
}
.titleContainer {
  background-color: white;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 5px;
}
#title {
  flex-grow: 3;
  position: relative;
}

#rating {
  width: 40%;
  background-color: orange;
  flex-direction: row;
}
.cardImgContainer {
  background-color: green;
}

.cardImgContainer img {
  object-fit: fill;
}

.cardTextContainer {
  background-color: red;
}





@keyframes gradient-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
    0% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes shimmer {
  0%, 20%, to {
    opacity: 0;
  }
  5%, 15% {
    opacity: 0;
    background-position: -50%; /* Adjust as needed */
  }
  10% {
    opacity: 0.7;
  }
}

.gradient-button-wrapper {
     max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  margin: 2rem auto;
}

.gradient-border-button {
     position: relative;
    padding: 1rem 2rem;
    border-radius: 500px;
    flex: 1 1;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 0 1px transparent, 0 2px 4px transparent, 0 12px 24px transparent;
    cursor: pointer;
    height: 100%;
    z-index: 1;
  text-align:center;
  text-decoration:none;
  background-color: #1f1f1f;
}

.gradient-border-button:hover {
  background-color: #000;
}


.gradient-border-button:before {
  content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: 1px;
    background: radial-gradient(75% 75% at 25% 15%, #fff 0, rgba(255, 255, 255, 0.3) 100%);
    -webkit-mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0.5;
    pointer-events: none;
}

.shimmer {
display: block;
background: linear-gradient(112deg, transparent 30%, rgba(var(255, 255, 255), 0.1) 40%, rgba(255, 255, 255), 0.3) 50%, rgba(var(255, 255, 255), 0.1) 60%, transparent 80%);
    position: absolute;
    inset: 0;
    z-index: 20;
    pointer-events: none;
    border-radius: inherit;
    background-size: 200% auto;
    background-position: 0;
    animation: shimmer 18s cubic-bezier(0.8, 0, 0.05, 1) infinite;
    animation-delay: 2s;
}

.gradient-border {
  content: "";
    position: absolute;
    inset: -3px;
    border: 3px;
    padding:3px; /* controls the thickness of the border */
    overflow: hidden;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    border-radius: 500px;
}


.gradient-border::before {
     content: "";
    display: block;
    background:  conic-gradient(from 180deg at 50% 50%,#2763FF 0deg,#17D4D4 112.5deg,#593FF6 228.75deg,#2763FF 360deg);
    box-shadow: 0 0 40px 20px;
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -2;
    animation: gradient-spin 4s cubic-bezier(0.1, 0.2, 0.3, 5) infinite;
}

.button-text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}