@import "../common/index.scss";

.bg-speaker {
  background: url(/src/assets/images/auditorium.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.speakers {
  position: relative;
  &.white {
    .speaker-item {
      background: $light;
      border: 1px solid $border-color;
      &:hover {
        @extend .shadow;
      }
    }
  }
}

.trainer-section {
  // background: #151515;
  padding-top: 30px;
  padding-bottom: 30px;
}

.trainer-section .section-title {
  text-align: center;
  margin-bottom: 45px;
}

.trainer-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.trainer-item:hover .ti-pic .ti-links {
  left: 20px;
}

.trainer-item .ti-pic img {
  max-width: 100%;
}

.trainer-item .ti-pic .ti-links {
  position: absolute;
  left: -50px;
  top: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.trainer-item .ti-pic .ti-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #afb4bf;
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.trainer-item .ti-pic .ti-links a:hover {
  background: -o-linear-gradient(45deg, #e16521, #d1ae4a);
  background: linear-gradient(45deg, #e16521, #d1ae4a);
  color: #ffffff;
}

.trainer-item .ti-pic .trainer-text {
  position: absolute;
  left: 0;
  bottom: 0;
  background: -o-linear-gradient(45deg, #e16521, #d1ae4a);
  background: linear-gradient(45deg, #e16521, #d1ae4a);
  width: 100%;
  height: 13%;
  padding-left: 7px;

  -webkit-clip-path: polygon(0 0, 100% 0%, 81% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 81% 0, 100% 100%, 0 100%);
  display: table;
}

.trainer-item .ti-pic .trainer-text h5 {
  display: table-cell;
  vertical-align: middle;
  font-size: 100%;
  color: #ffffff;
  font-weight: 400;
}

.trainer-item .ti-pic .trainer-text h6 {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
  font-size: 120%;
  color: #ffffff;
  font-weight: 400;
}

.trainer-item .ti-pic .trainer-text h5 span {
  display: table-cell;
  vertical-align: middle;

  width: 100%;
  padding-left: 10%;
  font-size: 60%;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 30px;
}
